global
        log             127.0.0.1       local1 notice
        maxconn 3072
        user haproxy
        group haproxy
        daemon

defaults
        log     global

        mode              http
        clitimeout        50          # maximum inactivity time on the client side
        srvtimeout        200         # maximum inactivity time on the server side
        timeout connect   100         # maximum time to wait for a connection attempt to a server to succeed
        timeout http-request 50       # maximum time to wait for the request headers
	timeout http-keep-alive 200   # maximum time to wait for new requests on a connection


        option            httplog
        option            abortonclose  # enable early dropping of aborted requests from pending queue
        option            httpchk       # enable HTTP protocol to check on servers health
        option            forwardfor    # enable insert of X-Forwarded-For headers

        stats enable                  # enable web-stats at /haproxy?stats
        stats auth        stats:kHn9MrKlAwE  # force HTTP Auth to view stats
        stats refresh     5s          # refresh rate of stats page

frontend http-in
        bind *:9000
        default_backend gekko

backend gekko
        # - equal weights on all servers
        # - maxconn will queue requests at HAProxy if limit is reached
        # - minconn dynamically scales the connection concurrency (bound my maxconn) depending on size of HAProxy queue
        # - check health every 20000 microseconds
        fullconn         3072
        server           gekko 127.0.0.1:9090 weight 1 minconn 1 maxconn 3072 check inter 20000
